@model BlogTable

<form action="/blog/update/@Model.BlogId" method="post"> 
        <div>
            <label for="Title" class="text-black">Title</label>
            <input type="text" name="BlogTitle" class="form-control" value="@Model.BlogTitle"/>
        </div>
        <div>
            <label for="Author" class="text-black">Author</label>
        <input type="text" name="BlogAuthor" class="form-control" value="@Model.BlogAuthor" />
        </div>
        <div>
            <label for="Title" class="text-black">Content</label>
            <textarea type="text" name="BlogContent" class="form-control">@Model.BlogContent</textarea>
        </div>
        <button class="btn btn-success">Save</button>
</form>